/* App Colors */

$primary_color     : #0521A3;
$secondary_color   : #62B2FD;

$success_color     : #1b9e43;
$danger_color      : #DC0C0C;
$warning_color     : #f7b217;
$disable_color     : #F2F2F2;

$dark_color        : #333333;
$muted_color       : #F0F0F0;
$light_color       : #F2F2F2;
$white_color       : #FFFFFF;

$happy       : #058C1A;
$surprised   : #84BD32;
$confused    : #F1D614;
$disgusted   : #FF8888;
$contempt    : #FF5656;

